<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="reset_pin" value="20"/>
    <add key="power_pin" value="24"/>
    <add key="temp_down_pin" value="22"/>
    <add key="temp_up_pin" value="23"/>
    <add key="mode_pin" value="10"/>
    <add key="speed_pin" value="9"/>
    <add key="api_endpoint" value="http://*:8081/api/" />
    <add key="remote_endpoint" value="http://*:8081/remote/" />
    <add key="mqtt_broker" value="pellet.cave.kevinross.name" />
  </appSettings>
</configuration>