<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="reset_pin" value="20"/>
    <add key="power_pin" value="24"/>
    <add key="temp_down_pin" value="23"/>
    <add key="temp_up_pin" value="22"/>
    <add key="mode_pin" value="10"/>
    <add key="speed_pin" value="9"/>
  </appSettings>
</configuration>
